.novidades {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.novidadesImage {
  width: 100%;
  height: auto;
}

// tentativa de tema escuro
body.dark-theme .novidades {
  background-color: #444;
}
