.footer {
  background-color: var(--bg);
  padding: 2rem;
  color: var(--text);
}

.footerColumns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.column h4 {
  margin-bottom: 1rem;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin-bottom: 0.5rem;
}

.column a {
  text-decoration: none;
  color: var(--text);
}

.payments {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.payments img {
  width: 56px;
  height: auto;
  display: inline-block;
}

.copyright {
  text-align: center;
  border-top: 1px solid #e7e7e7;
  padding-top: 1rem;
}

// responsividade
@media (max-width: 768px) {
  .footerColumns {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .payments {
    justify-content: center;
  }
}
